*{
    margin: 0;
    padding: 0;
} 

.my-dropdown-elements{
    display:none;
}

.my-dropdown-hover {
    position: relative;
}

.my-dropdown-hover:hover .my-dropdown-elements{
    display: block;
    position: abolute;
}

.my-nav{
    display: flex;
    gap: 10px;
    width: 100%;
}

.my-main-drop{
    background-color: #001d4c;
    padding: 2px;
}

.my-header{
    background-color: #001d4c;
    box-shadow: 0px 0px 10px 2px black;
}

.my-button{
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    display: inline-block;
    text-transform: uppercase;
}

.my-button:hover {
    color: #001d4c;
    background-color: white;
    box-shadow: -2px 2px 0px 0px #FF6B35;
    transform: translate(1px, -1px);
}

.my-bg-img {
    z-index: 1;
    background-image: url('images/blue-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    position: relative;
    background-attachment: fixed;
}

.my-bg-repeat {
    background-image: url('images/white-bg.webp');
    background-size: 50vw;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    position: relative;
}

.my-icon{
    font-size: 3em;
    color: white;
}

.my-icon:hover{
    color: white;
    text-shadow: -2px 2px 0px #FF6B35;
    transform: scale(1.1);
}

.my-h1{
    font-family: 'Courier New', Courier, monospace;
    color: #001d4c;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: bold;
}

.my-h2{
    font-family: 'Courier New', Courier, monospace;
    color: #001d4c;
    text-align: center;
    font-size: 1.5em;
    margin-top: 20px;
}

.my-carousel-view{
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.my-carousel-list {
    width: 100%;
    display: flex;
    padding: 0;
}

.my-carousel-item {
    min-width: 100%;
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: center;
}

.my-carousel-item-container{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.2em;
    font-family: 'Courier New', Courier, monospace;
    gap: 50px;
}

.my-carousel-item-container > img{
    width: 20%;
    height: auto;
    object-fit: contain;
}

.my-carousel-item-container > p{
    width: 30%;
    height: auto;
    object-fit: contain;
    text-align: left;
}

.my-img-container{
    display: flex-box;
    justify-content: space-evenly;
    align-items: center;
}


.my-img-container > a{
    margin: 10px;
    text-decoration: none;
}

.my-small-img{
    max-width: 100px;
    height: auto;
    object-fit: contain;
}

.my-next-btn, .my-prev-btn{
    background-color: transparent;
    border:none;
    cursor: pointer;
    width: 10%;
    z-index: 1000;
}