
.my-dropdown-elements{
    display:none;
}

.my-dropdown-hover {
    position: relative;
}

.my-dropdown-hover:hover .my-dropdown-elements{
    display: block;
    position: abolute;
}

.my-nav{
    display: flex;
    gap: 10px;
    width: 100%;
}

.my-main-drop{
    background-color: #001d4c;
    padding: 2px;
}

.my-header{
    background-color: #001d4c;
}

.my-button{
    color: white;
    font-family:'Courier New', Courier, monospace;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: 1.2em;
    display: inline-block;
    text-transform: uppercase;
}

.my-button:hover {
    color: #FF6B35;
    background-color: transparent;
    box-shadow: -2px 2px 0px 0px #FF6B35;
    transform: translate(1px, -1px);
}